<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMvhB8xlkTUxe9Ln3djkOXM8zoUdk_S3o</string>
	<key>GCM_SENDER_ID</key>
	<string>152413743024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.andreealavric.fingerfy</string>
	<key>PROJECT_ID</key>
	<string>fingerfy-ac6af</string>
	<key>STORAGE_BUCKET</key>
	<string>fingerfy-ac6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152413743024:ios:c51da562d6b13057965875</string>
</dict>
</plist>